@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul li a {
    font-size: 20px;
}

#slider {
    overflow: hidden;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#slider .carousel-caption {
    bottom: 7em;
}

.carousel-caption h2 {
    font-size: 3em;
    text-shadow: #000 2px 2px;
}

.carousel-caption p {
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}

#slider .btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i, .carousel-control-next i {
    color: #111;
    font-size: 3em;
}

#navbar a:hover {
    color: #7a7a7a;
}

footer {
    font-family: 'Cookie', cursive;
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 65%;
    border-top: 0.4px solid rgb(255, 255, 255, 0.4);
    font-size: 30px;
}

#rodape-contato {
    width: 95%;
}

#tabela-preco {
    margin-top: 100px;
}

form {
    margin-top: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
}


form h5 {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}

.titulo-formulario {
    margin-top: 50px;
    margin-bottom: 50px;
}

#botao-enviar {
    display: flex;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #slider .carousel-caption {
        bottom: 2em;
    }
}

